/.gradle/
/build/
/.settings/
/bin/
/run/
/.idea/
/out/
.classpath
build.bat
gen.bat
eclipse.bat
build1.gradle
Minecraft_Client.launch
Minecraft_Server.launch
build-curse.bat
/TaylorCommands.iml
/TaylorCommands.ipr
/TaylorCommands.iws
